<% layout('layouts/boilerplate') -%>
<style>
    #about {
  text-align: center;
  padding: 40px;
}
#about img {
  width: 200px;
  border-radius: 100%;
}
#about h1 {
  margin: 25px;
}
section {
  padding-bottom: 40px;
}
.card .card-header {
  cursor: pointer;
}
</style>
<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Ayush Raj Singh</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#about">About Me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#upcoming">Upcoming Projects</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="#contact">Contact</a>
        </li>
      </ul>
    </div>
  </nav>



  <section id="about" class="container">
    <img src="https://res.cloudinary.com/dmnmbjj8c/image/upload/v1720006204/WhatsApp_Image_2024-07-03_at_16.50.13_2a522dd1_xv3reo.jpg">
    <h1 class="display-4">Ayush Raj Singh</h1>
    <p>
      I’m a full-stack web developer. Software development is a fulfilling and rewarding job for me. I love to execute big ideas, and I want to use my talents to solve problems and make life easier for people. I jump at the chance to learn new things. I take great pride in my work and the fact that I create things that others find useful.
    </p>
    <p>
      <strong>Skills:</strong>
      
      <span><i class="fa-brands fa-java"></i></span>
      <span><i class="fa-brands fa-js"></i></span>
      <span><i class="fa-brands fa-html5"></i></span>
      <span><i class="fa-brands fa-node"></i></span>
      <span><i class="fa-brands fa-react"></i></span>
      <span><i class="fa-brands fa-bootstrap"></i></span>
      
    </p>
  </section>

  
  <section id="experience" class="container">
    <h1>Upcoming projects</h1>
    <div class="card">
      <div class="card-header collapse show" data-toggle="collapse" data-target="#exp1">
        <div class="row">
          <h5 class="col-md-8 mb-0">Stock Website</h5>
          
        </div>
      </div>
      <div class="card-block collapse" id="exp1">
        
        <p>
          A Website where you will be able to buy and sell stocks.</p>
      
    </div>
    
    <div class="card">
      <div class="card-header" data-toggle="collapse" data-target="#exp2">
        <div class="row">
          <h5 class="col-md-8 mb-0">A video calling website</h5>
         
        </div>
      </div>
      <div class="card-block collapse" id="exp2">
        
        <p>
          A Website where you will be able to make crystal clear safe video calls for free with chatting in real time
        </p>
        
      </div>
    </div>
    
      
  </section>
  
  

  <section class="container" id="contact">
    <h1>Contact</h1>
    <div class="row">
      <div class="col-sm-2">Phone:</div>
      <div class="col-sm-4">+91 6392131807</div>
    </div>
    <div class="row">
      <div class="col-sm-2">Email:</div>
      <div class="col-sm-4"><a href="mailto:aayushrajsingh11@gmail.com">aayushrajsingh11@gmail.com</a></div>
    </div>
  </section>


  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>